<%- include('../Blocks/Header.ejs', { Mythical, user, Page, Redirect: "/me" }) %>

<link rel="stylesheet" href="https://mythicalbots.xyz/css/form.css">


<br>
	<!-- Content -->
	<div class="container">
	
		<div id="errormessage"></div>
		
		
	
	<div class="col-lg-7 card server-form-panel">
	  <article class="card-body">
		<form action="" method="post" role="form">
		
		<h4 class="card-title mt-3 text-center"><%- Guild.name %></h4>
		<p class="text-center">After adding your server, we will display your server in listing website</p>
		<hr>
		<input type="hidden" name="id" value="5320">
		<h5>Tags <span style="color:red">*</span></h5>
		
		<div class="form-group input-group">
		  <div class="input-group-prepend">
			  <span class="input-group-text"><i class="fas fa-tag" style="padding:0"></i></span>
		   </div>
			  <input name="tag1" id="tag1" class="form-control xtags" placeholder="Write tag" type="text" value="<%- slotOne %>">
		  </div>
		
		<div class="form-group input-group">
		  <div class="input-group-prepend">
			  <span class="input-group-text"><i class="fas fa-tag" style="padding:0"></i></span>
		   </div>
			  <input name="tag2" id="tag2" class="form-control xtags" placeholder="Write tag" type="text" value="<%- slotTwo %>">
		  </div>
		
		<div class="form-group input-group">
		  <div class="input-group-prepend">
			  <span class="input-group-text"><i class="fas fa-tag" style="padding:0"></i></span>
		   </div>
			  <input name="tag3" id="tag3" class="form-control xtags" placeholder="Write tag" type="text" value="<%- slotThree %>">
		  </div>
		
		<div class="form-group input-group">
		  <div class="input-group-prepend">
			  <span class="input-group-text"><i class="fas fa-tag" style="padding:0"></i></span>
		   </div>
			  <input name="tag4" id="tag4" class="form-control xtags" placeholder="Write tag" type="text" value="<%- slotFour %>">
		  </div>
		
		<div class="form-group input-group">
		  <div class="input-group-prepend">
			  <span class="input-group-text"><i class="fas fa-tag" style="padding:0"></i></span>
		   </div>
			  <input name="tag5" id="tag5" class="form-control xtags" placeholder="Write tag" type="text" value="<%- slotFive %>">
		  </div>
		
		  <p class="help-block">- Minimum amount of tags are 3 <br>- Each tag shouldn't be more than 11 characters
		  </p>
		  <h5>Short Description <span style="color:red">*</span></h5>
		  <div class="form-group">
			<textarea onchange="xcheck()" name="desc" class="form-control" rows="6" placeholder="Write short description about your server" maxlength="240"><%- shortdesc %></textarea>
		  </div>
		  <p class="help-block">- Minimum 50 characters <br> - Maximum 240 characters
		  </p>
		  <h5>Long Description <span style="color:red">*</span></h5>
		  <div class="form-group">
			<textarea onchange="xcheck()" name="fulldesc" class="form-control" rows="6" placeholder="Write LONG description about your server" maxlength="1500"><%- Desc %></textarea>
		  </div>
		  <p class="help-block">- Minimum 100 characters <br> - Maximum 1500 characters
		  </p> 
		<h5>Invite link <span style="color:red">*</span></h5>
		<div class="form-group input-group">
		  <div class="input-group-prepend">
			  <span class="input-group-text"><i class="fas fa-link" style="padding:0"></i></span>
		   </div>
			  <input onchange="xcheck()" id="discjoin" name="discjoin" class="form-control" placeholder="Write invite link to your discord server" type="text" value="<%- Invite %>">
		  </div>  
		  <p class="help-block">- The link should start with https://discord.gg/ <br> - Please write permanent link otherwise you will get error about expired link <br> - The wrong written link will cause an error
		  </p><br>
		  <div class="form-group">
			  <button type="submit" class="btn btn-red btn-block" id="ssubm" name="ssubm" onclick="return xcheck();">Save Server</button>
		  </div>
		
	  </form>
	  </article>
	  </div>
	</div>

<%- include('../Blocks/Footer.ejs') %>