<%- include('./Blocks/Header.ejs', { Mythical, user, Page, Redirect: "/apply/staff-application" }) %>
<link rel="stylesheet" href="https://mythicalbots.xyz/css/bots.css">
<div class="py-5 text-center filter-dark"  style="background-size:cover;background-repeat:no-repeat;">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="d-lg-none"></div>
<center>
  <% if (User.avatarURL) { %>
   <img class="img-fluid d-block rounded-circle mx-auto" src="<%= User.avatarURL %>" alt="" data-toggle="tooltip" data-placement="top" title="<%= User.name %>">
  <% } else { %>
  <img class="d-flex mr-3 rounded-circle" src="https://i.imgur.com/2otMem9.png" style="width: 140px;" alt="">
<% } %>
<h2 style="font-size:25px;"><%= User.tag %></h2>
<h5 style="font-size:20px;">You can edit website settings & more here.</h5><br>
  <style>
              #status {
                text-shadow: 2px 2px 4px #000;
                color:<%- pColor %> !important;
                font-size: 15px;
                margin-bottom:10px;
                margin-top: -15px;
              }
              #status:before {
                content: '';
                width: 7px;
                height: 7px;
                background-color: <%- pColor %> !important;
                border-radius: 50%;
                position: relative;
                display: inline-block;
                right: 4px;
                bottom: 1.3px;
              }
            </style>
            <p class="title" id="status"><%- presence %></p>
</center>
</div>
</div>
</div>
</div>
<hr>

<% if(Data) { %>
<center>
<br>
<h5 class="sub">All of our current awaiting approval marked servers.</h5>
</center>

<div class="container">
	
		<div class="block-center">
      
      <% for(var i=0; i < Data.length; i++) { %>
			
			<div class="card server-block level1">
			  <div class="card-body">
        <% if(Data[i].status === "Featured") { %>
			  <span class="badges2" style="background:">Featured</span>
          <% } else if(Data[i].status === "Certified") { %>
			  <span class="badges1" style="background:">Certified</span>
          <% } else { %>
        <span class="badges0">normal</span>
          <% } %>
			  <div>
			  	<a href="/server/<%= Data[i].id %>"><img class="card-avatar" src="<%= Data[i].iconURL %>" onerror="this.onerror=null;this.src='https://i.imgur.com/2otMem9.png';"></a>
			  </div>
			    <h5 class="card-title" title="<%= Data[i].name %>"><%- Data[i].name %></h5>
            <p class="card-title" id="status-<%- Data[i].color %>"><%- Data[i].presence %></p>
			    <p class=""><div class="le card-text description"><%- Data[i].desc %></div></p>
			    <div class="server-bottom">
				    <span class="members"><i class="fas fa-server"></i><%= Data[i].members %></span>
				    <a href="/server/<%= Data[i].id %>/invite" class="btn btn-success join" rel="nofollow" target="blank">Invite Bot</a>
				    <a href="/server/<%= Data[i].id %>" style="background:#b2c8d2" class="btn btn-r info"><i class="fas fa-info" style="padding:0;"></i></a>
				</div>
			  </div>
			</div>
      
      <% } %>

			
			  </div>
			</div>
<% } else { %>
<center>
<br>
<h5 class="sub">Sorry no awaiting approval servers were found.</h5>
</center>
<% } %>

<br><hr>

<% if(feat) { %>
<center>
<br>
<h5 class="sub">All of our current featured bots.</h5>
</center>

<div class="container">
	
		<div class="block-center">
      
      <% for(var i=0; i < feat.length; i++) { %>
			
			<div class="card server-block level1">
			  <div class="card-body">
        <% if(feat[i].status === "Featured") { %>
			  <span class="badges2" style="background:">Featured</span>
          <% } else if(feat[i].status === "Certified") { %>
			  <span class="badges1" style="background:">Certified</span>
          <% } else { %>
        <span class="badges0">normal</span>
          <% } %>
			  <div>
			  	<a href="/server/<%= feat[i].id %>"><img class="card-avatar" src="<%= feat[i].iconURL %>" onerror="this.onerror=null;this.src='https://i.imgur.com/2otMem9.png';"></a>
			  </div>
			    <h5 class="card-title" title="<%= feat[i].name %>"><%- feat[i].name %></h5>
            <p class="card-title" id="status-<%- feat[i].color %>"><%- feat[i].presence %></p>
			    <p class=""><div class="le card-text description"><%- feat[i].desc %></div></p>
			    <div class="server-bottom">
				    <span class="members"><i class="fas fa-server"></i><%= feat[i].members %></span>
				    <a href="/server/<%= feat[i].id %>/invite" class="btn btn-success join" rel="nofollow" target="blank">Invite Bot</a>
				    <a href="/server/<%= feat[i].id %>" style="background:#b2c8d2" class="btn btn-r info"><i class="fas fa-info" style="padding:0;"></i></a>
				</div>
			  </div>
			</div>
      
      <% } %>

			
			  </div>
			</div>
<% } else { %>
<center>
<br>
<h5 class="sub">Sorry no featured servers were found.</h5>
</center>
<% } %>

<br><hr>

<% if(other) { %>
<center>
<br>
<h5 class="sub">All of our current other servers.</h5>
</center>

<div class="container">
	
		<div class="block-center">
      
      <% for(var i=0; i < other.length; i++) { %>
			
			<div class="card server-block level1">
			  <div class="card-body">
        <% if(other[i].status === "Featured") { %>
			  <span class="badges2" style="background:">Featured</span>
          <% } else if(other[i].status === "Certified") { %>
			  <span class="badges1" style="background:">Certified</span>
          <% } else { %>
        <span class="badges0">normal</span>
          <% } %>
			  <div>
			  	<a href="/server/<%= other[i].id %>"><img class="card-avatar" src="<%= other[i].iconURL %>" onerror="this.onerror=null;this.src='https://i.imgur.com/2otMem9.png';"></a>
			  </div>
			    <h5 class="card-title" title="<%= other[i].name %>"><%- other[i].name %></h5>
            <p class="card-title" id="status-<%- other[i].color %>"><%- other[i].presence %></p>
			    <p class=""><div class="le card-text description"><%- other[i].desc %></div></p>
			    <div class="server-bottom">
				    <span class="members"><i class="fas fa-server"></i><%= other[i].members %></span>
				    <a href="/server/<%= other[i].id %>/invite" class="btn btn-success join" rel="nofollow" target="blank">Invite Bot</a>
				    <a href="/server/<%= other[i].id %>" style="background:#b2c8d2" class="btn btn-r info"><i class="fas fa-info" style="padding:0;"></i></a>
				</div>
			  </div>
			</div>
      
      <% } %>

			
			  </div>
			</div>
<% } else { %>
<center>
<br>
<h5 class="sub">Sorry no other servers were found.</h5>
</center>
<% } %>

<br><hr>

 <%- include('./Blocks/Footer.ejs') %>
