<%- include('./Blocks/Header.ejs', { Mythical, user, Page, Redirect: "/me" }) %>

<link rel="stylesheet" href="https://mythicalbots.xyz/css/bots.css">

<% if(MessageDefined === 1){ %>
       <br>
<div class="container">
 <center>
   <div class="row" role="alert">
     <div class="col-md-12" role="alert">
       <div class="alert alert-primary alert-success" role="alert">
         <button type="button" class="close" data-dismiss="alert">×</button>
         <h4 class="alert-heading">Done!</h4>
         <p class="mb-0"><%= Message %></p>
      </div>
    </div>
  </div>
 </center>
</div>

<% } %>


<center>
<h1>TeaBot - Servers</h1>
<br>
<br>

  <!-- Redo welcome  -->
<center>
<h5 class="sub">Find the best server for your time!<% if(user){ %><br>Welcome, you are signed in as <%= user.username %>. <% } %></h5>
</center>
<br>
  
 <!--Search bar for bots-->
<form action="/search" method="GET">
<input class="input" type="text" id="searchbar-front" name="q"  placeholder="Search for a server by a name">
<noscript><button id="submit-btn">Submit</button></noscript>
</form>
</center>
<br>

  <% if(Cert) { %>
<center>
<br>
<h5 class="sub">Official Servers</h5>
</center>

<div class="container">
	
		<div class="block-center">
      
      <% for(var i=0; i < Cert.length; i++) { %>
			
			<div class="card server-block level1">
			  <div class="card-body">
       
			  <div>
			  	<a href="/server/<%= Cert[i].id %>"><img class="card-avatar" src="<%= Cert[i].iconURL %>" onerror="this.onerror=null;this.src='https://i.imgur.com/2otMem9.png';"></a>
			  </div>
			    <h5 class="card-title" title="<%= Cert[i].name %>"><%= Cert[i].name %></h5>
            <p class="card-title" id="status-<%- Cert[i].color %>"><%- Cert[i].presence %></p>
			    <p class=""><div class="le card-text description"><%- Cert[i].desc %></div></p>
			    <div class="server-bottom">
				    <span class="members"><i class="fas fa-server"></i><%= Cert[i].members %></span>
				    <a href="/bot/<%= Cert[i].id %>/invite" class="btn btn-success join" rel="nofollow" target="blank">Invite</a>
				    <a href="/bot/<%= Cert[i].id %>" style="background:#b2c8d2" class="btn btn-r info"><i class="fas fa-info" style="padding:0;"></i></a>
				</div>
			  </div>
			</div>
      
      <% } %>

			
			  </div>
			</div>
<br><hr>
<% }  else { %>
<center>
<br>
<h5 class="sub">Sorry no Verified Servers were found. <br> This might be a code issue please contact an admin.</h5>
</center><hr>
<% } %>

<% if(Data) { %>
<center>
<br>
<h5 class="sub">Featured Servers</h5>
</center>

<div class="container">
	
		<div class="block-center">
      
      <% for(var i=0; i < Data.length; i++) { %>
			
				<div class="card server-block level1">
			  <div class="card-body">
      
        <span class="badges0">normal</span>
        
			  <div>
			  	<a href="/server/<%= Data[i].id %>"><img class="card-avatar" src="<%= Data[i].iconURL %>" onerror="this.onerror=null;this.src='https://i.imgur.com/2otMem9.png';"></a>
			  </div>
			    <h5 class="card-title" title="<%= Data[i].name %>"><%= Data[i].name %></h5>
           <!-- <p class="card-title" id="status-"></p> -->
			    <p class=""><div class="le card-text description"><%- Data[i].desc %></div></p>
			    <div class="server-bottom">
				    <span class="members"><i class="fas fa-server"></i><%= Data[i].members %></span>
				    <a href="/server/<%= Data[i].id %>/invite" class="btn btn-success join" rel="nofollow" target="blank">Join Server</a>
				    <a href="/server/<%= Data[i].id %>" style="background:#b2c8d2" class="btn btn-r info"><i class="fas fa-info" style="padding:0;"></i></a>
				</div>
			  </div>
			</div>
      
      <% } %>

			
			  </div>
			</div>
<br><hr>
<% }  else { %>
<center>
<br>
<h5 class="sub">Sorry no Featured Servers were found. <br> This might be a code issue please contact an admin.</h5>
</center><hr>
<% } %> 

<% if(New) { %>
<center>
<br>
<h5 class="sub">New Servers.</h5>
</center>

<div class="container">
	
		<div class="block-center">
      
      <% for(var i=0; i < New.length; i++) { %>
			
			<div class="card server-block level1">
			  <div class="card-body">
          <% if(user) { %>
            <% if(Mythical.Developers.includes(user.id)) { %>
              <span class="badges1" style="background: green" onclick=goto("/remove?q=<%= New[i].id %>") >Remove</span>
            <% } %>
          <% } %>
       
			  <div>
			  	<a href="/server/<%= New[i].id %>"><img class="card-avatar" src="<%= New[i].iconURL %>" onerror="this.onerror=null;this.src='https://i.imgur.com/2otMem9.png';"></a>
			  </div>
			    <h5 class="card-title" title="<%= New[i].name %>"><%= New[i].name %></h5>
            <p class="card-title" id="status-<%- New[i].color %>"><%- New[i].presence %></p>
			    <p class=""><div class="le card-text description"><%- New[i].desc %></div></p>
			    <div class="server-bottom">
				    <span class="members"><i class="fas fa-server"></i><%= New[i].members %></span>
				    <a href="/server/<%= New[i].id %>/invite" class="btn btn-success join" rel="nofollow" target="blank">Invite </a>
				    <a href="/server/<%= New[i].id %>" style="background:#b2c8d2" class="btn btn-r info"><i class="fas fa-info" style="padding:0;"></i></a>
				</div>
			  </div>
			</div>
      
      <% } %>

			
			  </div>
			</div>
<% }  else { %>
<center>
<br>
<h5 class="sub">Sorry no New Servers were found. <br> This might be a code issue please contact an admin.</h5>
</center>
<% } %>

     <br>

<center> <A Href="Https://Mythicalbots.Xyz/Bot/634391677972512778" >
<Img Src="Https://Mythicalbots.Xyz/Bot/634391677972512778/Embed?Q=

" Alt="Tea" />
</A></center>

 <%- include('./Blocks/Footer.ejs') %>